<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>944140954391-mfq92c0ghjqd45dpj5ph82g9spkibn56.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.944140954391-mfq92c0ghjqd45dpj5ph82g9spkibn56</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>944140954391-roskdqfusu215btrldisog9akat9gh5u.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyClSLHTzU3lrAhHRL672EolXNrDpSsHktc</string>
    <key>GCM_SENDER_ID</key>
    <string>944140954391</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.flutter.firebase.nickTecnologiaNotices</string>
    <key>PROJECT_ID</key>
    <string>avisosnick</string>
    <key>STORAGE_BUCKET</key>
    <string>avisosnick.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:944140954391:ios:f9bf6940c1e0ae818a6552</string>
    <key>DATABASE_URL</key>
    <string>https://avisosnick.firebaseio.com</string>
</dict>
</plist>
